<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title></title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</head>
<body>
    <br>
    <br>
    <br>
    <hr>
    <h1 style="color:forestgreen;background-color:azure;">
        Your Borrowed Book List is Here!!
    </h1>
    <br />
    <br />
    <hr />
    <hr />
    <br />
    <br />

    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="table-responsive">
                    <table summary="This table shows how to create responsive tables using Bootstrap's default functionality" class="table table-bordered table-hover">
                        <caption class="text-center">An example of a responsive table based on <a href="https://getbootstrap.com/css/#tables-responsive" target="_blank">Bootstrap</a>:</caption>
                        <thead>
                            <tr>
                                <th>ISBN Number</th>
                                <th>Book Title</th>
                                <th>Genre</th>
                                <th>Author</th>
                                <th>Price</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>ISBN1234123123</td>
                                <td>Gone Girl</td>
                                <td>Thriller</td>
                                <td>Gyllian Flynn</td>
                                <td>20$</td>
                            </tr>
                            <tr>
                                <td>ISBN1233654564</td>
                                <td>Hitchicker's Guide to Galaxy</td>
                                <td>Sci-Fi Humor</td>
                                <td>Douglas E Richard</td>
                                <td>30$</td>
                            </tr>
                            <tr>
                                <td>ISBN156654564</td>
                                <td>The Red Mohawk</td>
                                <td>Horror/Supernatural</td>
                                <td>Anonymous</td>
                                <td>20$</td>
                            </tr>
                            <tr>
                                <td>ISBN1233654564</td>
                                <td>The Girl with The dragon Tatoo</td>
                                <td>Thriller</td>
                                <td>Steig Larsson</td>
                                <td>40$</td>
                            </tr>
                            <tr>
                                <td>ISBN1233654564</td>
                                <td>The Surgeon</td>
                                <td>Crime Fiction</td>
                                <td>Tess Gerritson</td>
                                <td>30$</td>
                            </tr>
                            <tr>
                                <td>ISBN1233654564</td>
                                <td>To Kill a Mocking Bird</td>
                                <td>Domestic Fiction</td>
                                <td>Harper Lee</td>
                                <td>10$</td>
                            </tr>
                        </tbody>
                        <tfoot>
                            <tr>
                                <td colspan="5" class="text-center">Data retrieved from <a href="https://en.wikipedia.org/" target="_blank">Wikipedia</a> </td>
                            </tr>
                        </tfoot>
                    </table>
                </div><!--end of .table-responsive-->
            </div>
        </div>
    </div>



</body>
</html>