<html>
<head>
    <title>My Python Webpage </title>
</head>
<body style="background-color:#EEE">
    <link rel="icon" href="favicon.png" />
    <h1 align="center">
        Welcome to Python Fun Webpage
    </h1>
    <hr />
    <hr/>

    <br />
    <h2 align="center">
        Today we are going to build a single webpage using html and css. This is going to be fun
    </h2>
    <br />

    <h3 align="center">
        Below is a simple form section where you can write your name and comments. Click submit to see what happens next. :)
    </h3>
    <form method="POST" action="Sample.html">
        <div style="text-align:center;background-color:#333;color:#888">
            <p>
                <b>Name</b><br>
                <input type="text" name="Name" size="40">
            </p>

            <p>
                <strong>Comments</strong><br>
<textarea cols="50" rows="5" name="Comment"></textarea>
            </p>

            <p><input type="submit" value="Submit"></p>
        </div>
        <table style="background-color:#999;border: 1px solid black;">
            <tr>
                <td>
                    Amaya
                </td>
                <td>
                    <img src="img1.png" style="width:100px;height:100px" />
                </td>
            </tr>
            <tr>
                <td>
                    John
                </td>
                <td>
                    <img src="img2.png" style="width:100px;height:100px" />
                </td>
                <td>
            </tr>
        </table>

    </form>
</body>
</html>